/animations/
/banners/
/fmv/
/items/
/loading_screen/
/menu/
/models/
/models_building/
/models_effects/
/models_engine/
/models_missile/
/models_strat/
/models_unit/
/sounds/
/sprites/
/textures/
/ui/
